<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzc.dao.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.wzc.bean.Message" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="FROMID" property="fromid" jdbcType="INTEGER" />
    <result column="FROMNAME" property="fromname" jdbcType="VARCHAR" />
    <result column="TARGETID" property="targetid" jdbcType="INTEGER" />
    <result column="TARGETNAME" property="targetname" jdbcType="VARCHAR" />
    <result column="MSGBODY" property="msgbody" jdbcType="VARCHAR" />
    <result column="MSGTYPE" property="msgtype" jdbcType="VARCHAR" />
    <result column="MSGEXTRAS" property="msgextras" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="RESULT" property="result" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, FROMID, FROMNAME, TARGETID, TARGETNAME, MSGBODY, MSGTYPE, MSGEXTRAS, CREATETIME, 
    RESULT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wzc.bean.MessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_message
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_message
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wzc.bean.MessageExample" >
    delete from t_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wzc.bean.Message" >
    insert into t_message (ID, FROMID, FROMNAME, 
      TARGETID, TARGETNAME, MSGBODY, 
      MSGTYPE, MSGEXTRAS, CREATETIME, 
      RESULT)
    values (#{id,jdbcType=INTEGER}, #{fromid,jdbcType=INTEGER}, #{fromname,jdbcType=VARCHAR}, 
      #{targetid,jdbcType=INTEGER}, #{targetname,jdbcType=VARCHAR}, #{msgbody,jdbcType=VARCHAR}, 
      #{msgtype,jdbcType=VARCHAR}, #{msgextras,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{result,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wzc.bean.Message" >
    insert into t_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="fromid != null" >
        FROMID,
      </if>
      <if test="fromname != null" >
        FROMNAME,
      </if>
      <if test="targetid != null" >
        TARGETID,
      </if>
      <if test="targetname != null" >
        TARGETNAME,
      </if>
      <if test="msgbody != null" >
        MSGBODY,
      </if>
      <if test="msgtype != null" >
        MSGTYPE,
      </if>
      <if test="msgextras != null" >
        MSGEXTRAS,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="result != null" >
        RESULT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fromid != null" >
        #{fromid,jdbcType=INTEGER},
      </if>
      <if test="fromname != null" >
        #{fromname,jdbcType=VARCHAR},
      </if>
      <if test="targetid != null" >
        #{targetid,jdbcType=INTEGER},
      </if>
      <if test="targetname != null" >
        #{targetname,jdbcType=VARCHAR},
      </if>
      <if test="msgbody != null" >
        #{msgbody,jdbcType=VARCHAR},
      </if>
      <if test="msgtype != null" >
        #{msgtype,jdbcType=VARCHAR},
      </if>
      <if test="msgextras != null" >
        #{msgextras,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wzc.bean.MessageExample" resultType="java.lang.Integer" >
    select count(*) from t_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_message
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fromid != null" >
        FROMID = #{record.fromid,jdbcType=INTEGER},
      </if>
      <if test="record.fromname != null" >
        FROMNAME = #{record.fromname,jdbcType=VARCHAR},
      </if>
      <if test="record.targetid != null" >
        TARGETID = #{record.targetid,jdbcType=INTEGER},
      </if>
      <if test="record.targetname != null" >
        TARGETNAME = #{record.targetname,jdbcType=VARCHAR},
      </if>
      <if test="record.msgbody != null" >
        MSGBODY = #{record.msgbody,jdbcType=VARCHAR},
      </if>
      <if test="record.msgtype != null" >
        MSGTYPE = #{record.msgtype,jdbcType=VARCHAR},
      </if>
      <if test="record.msgextras != null" >
        MSGEXTRAS = #{record.msgextras,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.result != null" >
        RESULT = #{record.result,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_message
    set ID = #{record.id,jdbcType=INTEGER},
      FROMID = #{record.fromid,jdbcType=INTEGER},
      FROMNAME = #{record.fromname,jdbcType=VARCHAR},
      TARGETID = #{record.targetid,jdbcType=INTEGER},
      TARGETNAME = #{record.targetname,jdbcType=VARCHAR},
      MSGBODY = #{record.msgbody,jdbcType=VARCHAR},
      MSGTYPE = #{record.msgtype,jdbcType=VARCHAR},
      MSGEXTRAS = #{record.msgextras,jdbcType=VARCHAR},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      RESULT = #{record.result,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wzc.bean.Message" >
    update t_message
    <set >
      <if test="fromid != null" >
        FROMID = #{fromid,jdbcType=INTEGER},
      </if>
      <if test="fromname != null" >
        FROMNAME = #{fromname,jdbcType=VARCHAR},
      </if>
      <if test="targetid != null" >
        TARGETID = #{targetid,jdbcType=INTEGER},
      </if>
      <if test="targetname != null" >
        TARGETNAME = #{targetname,jdbcType=VARCHAR},
      </if>
      <if test="msgbody != null" >
        MSGBODY = #{msgbody,jdbcType=VARCHAR},
      </if>
      <if test="msgtype != null" >
        MSGTYPE = #{msgtype,jdbcType=VARCHAR},
      </if>
      <if test="msgextras != null" >
        MSGEXTRAS = #{msgextras,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null" >
        RESULT = #{result,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wzc.bean.Message" >
    update t_message
    set FROMID = #{fromid,jdbcType=INTEGER},
      FROMNAME = #{fromname,jdbcType=VARCHAR},
      TARGETID = #{targetid,jdbcType=INTEGER},
      TARGETNAME = #{targetname,jdbcType=VARCHAR},
      MSGBODY = #{msgbody,jdbcType=VARCHAR},
      MSGTYPE = #{msgtype,jdbcType=VARCHAR},
      MSGEXTRAS = #{msgextras,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      RESULT = #{result,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  SELECT a.* FROM(
    SELECT * FROM t_message WHERE MSGTYPE !='leaveMessage' AND fromid = #{userid,jdbcType=INTEGER}
        UNION ALL
    SELECT * FROM t_message WHERE MSGTYPE !='leaveMessage' AND targetid = #{userid,jdbcType=INTEGER}
    ) a
  ORDER BY CREATETIME DESC
  </select>
</mapper>