<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzc.dao.UploadFileMapper" >
  <resultMap id="BaseResultMap" type="com.wzc.bean.UploadFile" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ORIGINALNAME" property="originalname" jdbcType="VARCHAR" />
    <result column="PATHNAME" property="pathname" jdbcType="VARCHAR" />
    <result column="OWNERID" property="ownerid" jdbcType="INTEGER" />
    <result column="OWNERTYPE" property="ownertype" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ORIGINALNAME, PATHNAME, OWNERID, OWNERTYPE, CREATETIME, DESCRIPTION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wzc.bean.UploadFileExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_uploadfile
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_uploadfile
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_uploadfile
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wzc.bean.UploadFileExample" >
    delete from t_uploadfile
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wzc.bean.UploadFile" useGeneratedKeys="true" keyProperty="id">
    insert into t_uploadfile (ID, ORIGINALNAME, PATHNAME, 
      OWNERID, OWNERTYPE, CREATETIME, 
      DESCRIPTION)
    values (#{id,jdbcType=INTEGER}, #{originalname,jdbcType=VARCHAR}, #{pathname,jdbcType=VARCHAR}, 
      #{ownerid,jdbcType=INTEGER}, #{ownertype,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wzc.bean.UploadFile" useGeneratedKeys="true" keyProperty="id">
    insert into t_uploadfile
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="originalname != null" >
        ORIGINALNAME,
      </if>
      <if test="pathname != null" >
        PATHNAME,
      </if>
      <if test="ownerid != null" >
        OWNERID,
      </if>
      <if test="ownertype != null" >
        OWNERTYPE,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="originalname != null" >
        #{originalname,jdbcType=VARCHAR},
      </if>
      <if test="pathname != null" >
        #{pathname,jdbcType=VARCHAR},
      </if>
      <if test="ownerid != null" >
        #{ownerid,jdbcType=INTEGER},
      </if>
      <if test="ownertype != null" >
        #{ownertype,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wzc.bean.UploadFileExample" resultType="java.lang.Integer" >
    select count(*) from t_uploadfile
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_uploadfile
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.originalname != null" >
        ORIGINALNAME = #{record.originalname,jdbcType=VARCHAR},
      </if>
      <if test="record.pathname != null" >
        PATHNAME = #{record.pathname,jdbcType=VARCHAR},
      </if>
      <if test="record.ownerid != null" >
        OWNERID = #{record.ownerid,jdbcType=INTEGER},
      </if>
      <if test="record.ownertype != null" >
        OWNERTYPE = #{record.ownertype,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.description != null" >
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_uploadfile
    set ID = #{record.id,jdbcType=INTEGER},
      ORIGINALNAME = #{record.originalname,jdbcType=VARCHAR},
      PATHNAME = #{record.pathname,jdbcType=VARCHAR},
      OWNERID = #{record.ownerid,jdbcType=INTEGER},
      OWNERTYPE = #{record.ownertype,jdbcType=VARCHAR},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wzc.bean.UploadFile" >
    update t_uploadfile
    <set >
      <if test="originalname != null" >
        ORIGINALNAME = #{originalname,jdbcType=VARCHAR},
      </if>
      <if test="pathname != null" >
        PATHNAME = #{pathname,jdbcType=VARCHAR},
      </if>
      <if test="ownerid != null" >
        OWNERID = #{ownerid,jdbcType=INTEGER},
      </if>
      <if test="ownertype != null" >
        OWNERTYPE = #{ownertype,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wzc.bean.UploadFile" >
    update t_uploadfile
    set ORIGINALNAME = #{originalname,jdbcType=VARCHAR},
      PATHNAME = #{pathname,jdbcType=VARCHAR},
      OWNERID = #{ownerid,jdbcType=INTEGER},
      OWNERTYPE = #{ownertype,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>